body
{
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
  margin: 0;
  background-color: #ffffff;
}

img
{
  border: 0;
}

.sqltable
{
	width: 100%;
	border-collapse: collapse;
}

.sqltable tr
{
	border: 1px solid #efefef;
}

.sqltable td
{
	border: 1px solid #efefef;
	height: 20px;
	padding: 1px;
}

td
{
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 11px;
}

th
{
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: left;
	background-color: #e0e0e0;
}

#title
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	background-image: url(img/title.png);
}

.title-text
{
	color: #ffffff;
	font-weight: bold;
	margin-left: 5px;
}

#menu
{
	position: absolute;
	top: 40px;
	left: 0;
	width: 172px;
}

#menu-login
{
	margin: 40px auto;
	width: 172px;
	text-align: center;
}

#menu-title
{
	height: 18px;
	background: url(img/menu-titlebackgr.gif);
	padding-top: 8px;
	text-align: center;
	color: #ffffff;
}

#menu-content
{
	background: url(img/menu-backgr.gif);
	padding-top: 5px;
	padding-left: 0;
	padding-bottom: 5px;
	width: 172px;
}

#menu-content ul
{
	list-style-type: square;
}

#menu-content li
{
	margin-bottom: 10px;
}

#menu-bottom
{
	background-image: url(img/menu-bottom.gif);
	height: 18px;
	width: 172px;
}

#content
{
	position: absolute;
	top: 40px;
	left: 200px;
	right: 10px;
}

.content-title {
  color: #ffffff;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
}

h2 {
	margin-top: 40px;
}

textarea
{
	text-indent: 2px;
}

input
{
	text-indent: 2px;
}

a
{
	color: #000000;
	font-size: 11px;
	text-decoration: underline;
}

a:visited
{
	color: #000000;
	font-size: 11px;
	text-decoration: underline;
}

a:active
{
	font-size: 11px;
	text-decoration: none;
}
